html {
	height: 100%;
	/*color: green;*/
}

body {
	height: 100%;

	/*background-color: #F6FFE0;*/
	background-color: #BDD684;
	font-family: 'Lato', sans-serif;

}

.stage-row {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.label {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 50px;
	color: #F6FFE0;
}

.center-1 {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}

.stage {
	height: 300px;
	width: 300px;
	margin: 10px;
	display: inline-block;
	position: relative;

	-webkit-user-select: none;  /* Chrome all / Safari all */
 	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

img {
	position: absolute;
	height: 200px;
	top: 50px;
	left: 50px;
}

.stage-1 {
	height: 100%;
	background-color: #E2F0D6;
	border-radius: 50%;
}

.stage-2 {
	height: 100%;
	background-color: #95AB63;
	border-radius: 1%;
	color: #10222B;

	display: none;
}

.stage-3 {
	height: 100%;
	background-color: #10222B;
	border-radius: 1%;
	color: #F6FFE0;

	display: none;
}

.inner-stage {
	position: absolute;
	padding: 20px;
}

h1, h2, h3 {
	margin-top: 0px;
	margin-bottom: 5px;
	-webkit-user-select: all;  /* Chrome all / Safari all */
 	-moz-user-select: all;     /* Firefox all */
	-ms-user-select: all;      /* IE 10+ */
	user-select: all;
}

h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 2px;
	-webkit-user-select: all;  /* Chrome all / Safari all */
 	-moz-user-select: all;     /* Firefox all */
	-ms-user-select: all;      /* IE 10+ */
	user-select: all;
}

p {
	margin-top: 5px;
	-webkit-user-select: all;  /* Chrome all / Safari all */
 	-moz-user-select: all;     /* Firefox all */
	-ms-user-select: all;      /* IE 10+ */
	user-select: all;
}

.footer, .header {
	padding-bottom: 100px;
}